<div class="jumbotron" *ngIf="visible" >
  <h1 class="display-3" style="color: white;">Welcome to {{ title }}!</h1>
  <p class="lead">Looking for a movie?</p>
  <p class="lead">
    <input (keyup)="searchMovie.next($event.target.value)" placeholder="Type a title..">
  </p>
</div>


<router-outlet></router-outlet>

<div class="well text-center" *ngIf="visible" >
  <ng-container *ngFor="let result of resultsObject | slice:0:100" class="container" >
      <h1 style="padding: 1%; font-size: 25px;"> {{ result.Title }} </h1>
      <a routerLink="/info/{{result.imdbID}}" (click)="navDiv()">Movie Info</a>
      <div class="poster">
        <img src="{{ result.Poster }}"class="thumbnail"/>
      </div>
  </ng-container>
</div>
